# dependencies
node_modules/
.pnp.*

# testing
coverage/
.nyc_output/
.pytest_cache/

# next.js
.next/
out/

# env files
.env.local
.env.development.local
.env.test.local
.env.production.local

# misc
*.log
*.DS_Store
*.swp
*.tmp
.vercel/
.ruff_cache/
dist/
.idea/
.vscode/
